/* color */

:root {
	--primary-green: #01635d;
	--secondary-green: #b7dfdb;

	--primary-orange: #fea36b;
	--secondary-orange: #ffdda2;

	--primary-white: #fff;
	--secondary-white: #f5f5f5;

	--primary-grey: #727272;
	--secondary-grey: #b6b6b6;

	--primary-black: #050505;

	--primary-red: #ff3636;
}
