.start-page-section {
	background: var(--primary-green);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.startPage-logo {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
	text-align: center;
}

.startPage-logo-title {
	color: var(--primary-white);
	text-align: center;
	font-family: Merriweather;
	font-size: 2rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2rem;
}
