.marker-dot {
	width: 14px;
	height: 14px;
	background-color: transparent;
	position: absolute;
	border-radius: 50%;
}

.marker-dot {
	width: 14px;
	height: 14px;
	background-color: transparent;
	border-radius: 50%;
}

.innerMarkerLight-dot {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: var(--primary-white);
	opacity: 0.2;
	animation: pulse 1.3s ease-out infinite;
}

.outerMarkerLight-dot {
	transform: translate(50%, 50%);
	width: 50%;
	height: 50%;
	border-radius: 50%;
	background: var(--primary-white);
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(1);
	}
}
