@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('./styles/variables.css');

* {
	padding: 0;
	margin: 0;
	font-size: 16px;
}

body {
	width: 375px;
	height: 812px;
	overflow: hidden;
	background-color: var(--secondary-white);
}
